<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vivin Technical Test GUE - Fullstack</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
  <style>
    html,
    body {
      background-color: #F7F8FA;
      font-family: 'Poppins', sans-serif;
      height: 100vh;
      color: #46444c;
      position: relative;
    }

    body:before {
      content: '';
      background: #04AA6D;
      top: 0;
      left: 0;
      right: 0;
      height: 6px;
      position: absolute;
    }

    * {
      margin: 0;
      padding: 0;
    }

    a {
      color: #04AA6D;
      text-decoration: none;
    }

    main {
      max-width: 620px;
      margin: auto;
      height: 100vh;
      padding: 0 30px;
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .title {
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 10px;
      color: #17161A;
    }

    .subtitle {
      font-size: 26px;
      margin-bottom: 40px;
    }

    .btn {
      background-color: #04AA6D;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      border-radius: 8px;
    }
  </style>
</head>

<body>

  <main>
    <div>
      <h1 class="title"> HR - Management </h1>
      <p class="subtitle">
        Selamat Bekerja ^_^ !!
      </p>

      <a href="http://127.0.0.1:3333/login">
        <button class="btn">Login</button>
      </a>
    </div>
  </main>
</body>

</html>